<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div>
  <mat-sidenav-container fullscreen>
    <mat-sidenav [fixedInViewport]="true" #sidenav role="navigation">
      <!--this is a place for us to add side-nav code-->
      <app-menu-lateral (sidenavClose)="sidenav.close()"></app-menu-lateral>
    </mat-sidenav>
    <mat-sidenav-content>
      <!--in here all the content must reside. We will add a navigation header as well-->
      <app-menu (sidenavToggle)="sidenav.toggle()"></app-menu>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>